#root {
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(3 7 18);

  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;

  flex-direction: row;
}

body {
  margin: 0;
}

input {
  all: unset;
}

ul[role='listbox'],
ol[role='listbox'] {
  list-style: none;
}